profiles {
    standard {
        docker.enabled=true
        process {
            withName:nanoplot {
                cpus=10
                container="nanozoo/nanoplot:1.42.0--547049c"
            }
            withName:multiqc {
                cpus=2
                container="staphb/multiqc:latest"
            }
        }
        params {
            out_dir="${launchDir}"
            in_dir=null
            csv = null
            skip_basecall = true
            help=false
        }
    }
    test {
        docker.enabled=true
        process {
            withName:nanoplot {
                cpus=2
                container="nanozoo/nanoplot:1.42.0--547049c"
            }
            withName:multiqc {
                cpus=2
                container="staphb/multiqc:latest"
            }
        }
        params {
            out_dir="${launchDir}"
            in_dir=null
            csv = null
            skip_basecall = true
            help=false
        }
    }
    drac {
        process {
            executor = 'slurm'
            withLabel:cat {
                clusterOptions = "--cpus-per-task=2 --mem 5G --time=2:00:00"
            }
            withName:nanoplot {
                clusterOptions = "--cpus-per-task=10 --mem 5G --time=4:00:00"
                container="nanozoo/nanoplot:1.42.0--547049c"
            }
            withName:multiqc {
                clusterOptions = "--cpus-per-task=4 --mem 10G --time=3:00:00"
                container="staphb/multiqc:latest"
            }
        }
        params {
            out_dir="${launchDir}"
            in_dir=null
            ref_dir=null
            csv = null
            help=false
        }
        apptainer {
            enabled=true
            autoMounts=true
            runOptions = "-B  /lustre05,/lustre06,/lustre07,/scratch,/project"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
        executor {
            pollInterval = '60 sec'
            submitRateLimit = '60/1min'
            queueSize = 100 
        }
    }
    test_drac {
        process {
            executor = 'slurm'
            withLabel:cat {
                clusterOptions = "--cpus-per-task=2 --mem 5G --time=2:00:00"
            }
            withName:nanoplot {
                clusterOptions = "--cpus-per-task=4 --mem 2G --time=1:00:00"
                container="nanozoo/nanoplot:1.42.0--547049c"
            }
            withName:multiqc {
                clusterOptions = "--cpus-per-task=2 --mem 1G --time=1:00:00"
                container="staphb/multiqc:latest"
            }
        }
        params {
            out_dir="${launchDir}"
            in_dir=null
            csv = null
            skip_basecall = true
            help=false
        }
        apptainer {
            enabled=true
            autoMounts=true
            runOptions = "-B  /lustre05,/lustre06,/lustre07,/scratch,/project"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
        executor {
            pollInterval = '60 sec'
            submitRateLimit = '60/1min'
            queueSize = 100 
        }
    }
}
