params {
    fastq = null
    headcrop = 0
    maxlength = 2147483647
    minlength = 1
    quality = 0
    tailcrop = 0
    threads = 4
    contam = null
    out_dir = "output"
}

process {
    withLabel:process_chop {
        container="ghcr.io/charlenelawdes/chopper-docker:latest"
    }
}

docker {
    enabled=true
}